body{
background-color: black;
padding: 0%;
margin: 0%;
}

h1{
    text-align: center;
    background-color: blueviolet;
    color: aliceblue;
}
h2{
    color: aliceblue;
}

li{
    color: blueviolet;
}
p{
    color: blueviolet;
}

.hover-image {
    /* Posicione a imagem à direita */
    float: right;
    /* Defina o tamanho médio da imagem */
    width: 50%;
    height: auto;
    /* Mantenha a proporção da imagem */
    aspect-ratio: 16/9;
  }
  
  .hover-image:hover {
    /* Mude a imagem quando o usuário passar o mouse por cima */
    background-image: url('img/danoninho2/danoninho3');
  }

  .hover-image {
    /* Set the initial image */
    background-image: url('img/danoninho2/danoninho1');
  }
  
  .hover-image:hover {
    /* Change the image on hover */
    background-image: url('img/danoninho2/danoninho3');
  }