@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Permanent+Marker&family=Silkscreen:wght@400;700&display=swap');


body {
  background-color: rgb(0, 0, 0);
  padding: 0%;
  margin: 0%;
  animation: led 2s infinite; /* adiciona uma animação */
}

h1 {
  text-align: center;
  background-color: blueviolet;
  color: aliceblue;
}

h2 {
  color: aliceblue;
}

li{
  color: blueviolet;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
p {
  color: blueviolet;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

.muda-image {
  /* Posicione a imagem à direita */
  float: right;
  /* Defina o tamanho médio da imagem */
  width: 50%;
  height: auto;
  /* Mantenha a proporção da imagem */
  aspect-ratio: 16/9;
}

.muda-image:hover { /* Mude a imagem quando o usuário passar o mouse por cima */ 
  background-image: url('img/danoninho3'); } 
  
.muda-image { /* Set the initial image */
   background-image: url('img/danoninho1');
   border: 10px solid #000; /* adiciona uma borda preta */
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* adiciona um efeito de sombra */
   animation: led 2s infinite; /* adiciona uma animação */
 }
 @keyframes led {
  0% {
    border-color: #FF0000;
  }
  50% {
    border-color: #00FF00;
  }
  100% {
    border-color: #0000FF;
  }
}
  

 .muda-image:hover { /* Change the image on hover */
   background-image: url('img/danoninho3'); }

.muda-image:hover {
  background-image: url('img/danoninho3');
  border-color: #FF0000; /* muda a cor da borda para vermelho quando hover */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* muda a cor da sombra para vermelho quando hover */
}

.titulo {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo2 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

.titulo3{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.titulo4{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
