@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Permanent+Marker&display=swap');


body {
  background-color: black;
  padding: 0%;
  margin: 0%;
}

h1 {
  text-align: center;
  background-color: blueviolet;
  color: aliceblue;
}

h2 {
  color: aliceblue;
}

li {
  color: blueviolet;
}

p {
  color: blueviolet;
}

.muda-image {
  /* Posicione a imagem à direita */
  float: right;
  /* Defina o tamanho médio da imagem */
  width: 50%;
  height: auto;
  /* Mantenha a proporção da imagem */
  aspect-ratio: 16/9;
}

.muda-image:hover {
  /* Mude a imagem quando o usuário passar o mouse por cima */
  background-image: url('img/danoninho3');

}

.muda-image {
  /* Set the initial image */
  background-image: url('img/danoninho1');
}

.muda-image:hover {
  /* Change the image on hover */
  background-image: url('img/danoninho3');
}

.titulo {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo2 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

.titulo3{

}
